.schedule p {
    color: #FCD842;
}

.schedule .card {
    width: 40%;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
    align-items: center;
    padding-top: 10px;
}