$buttonColor : #FCD842;
$buttonTextColor: black;

.buttonClasses{
    background:$buttonColor;
    color: $buttonTextColor;
    font-size:20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: 80%;
    height: 20%;
    margin-left: 9px;
    position: relative;
    bottom: 27px;
}